* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("wallpaper.jpg");
  background-size: 1909px 1227px;
  font-family: Arial, Futura, sans-serif;
}
.button {border-radius: 10%;
		background-color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		color: white;
		display: inline-block;
		font-size: 12px;
}



.pagetitle {
  background-color: #000;
  color: white;
  width: 100%;
  padding: 80px;
  height: 200px;
  text-align: center;
  font-size: 50px;
  
  }
.footer {
  background-color: none;
  color: white;
  padding: 100px;
  text-align: center;
  }

.column {
  float: left;
  height: 800px;
  overflow: auto;
}

.column.nav {
  width: 20%;
  background-color: #000;
  /*position: fixed;*/
  z-index: 1;
  top: 20%;
  left: 0;
  overflow-x: hidden;
}

/* Side navigation links */
.column.nav a {
  color: white;
  padding: 16px;
  background-color: black;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.column.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.column.content {
  background-color: #f1f1f1;
  border-color: none;
  border-width: 50px;
  width: 50%;
  overflow: auto;
}

.column.pic {
	background-image: url("windmill.jpg");
	background-size: 400px 550px;
	background-repeat: no-repeat;
	width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}







