#inputModul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}
#inputModul>#grafFormat {
    margin: 24px;
}

#inputModul>#extraFields {
    display: block;
    margin: 24px;
}

select, input, button {
    font-size: 18px;
}
